<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://content-us-7.content-cms.com/8ba19f21-9a97-4525-8886-f54d823a5cea/dxresources/6210/62104e31-d817-4249-abab-9b7dfc347bd0.jpg" class="d-block w-100" alt="hbDIno">
      </div>
      <div class="carousel-item">
        <img src="https://content-us-7.content-cms.com/8ba19f21-9a97-4525-8886-f54d823a5cea/dxresources/f0a5/f0a5f04a-cb0b-45ae-9ab6-c2750dfd0cd1.jpg" class="d-block w-100" alt="chicaHB">
      </div>
      <div class="carousel-item">
        <img src="https://content-us-7.content-cms.com/8ba19f21-9a97-4525-8886-f54d823a5cea/dxresources/f461/f4611bba-b7de-4e5a-a340-71fb504fd3f0.jpg" class="d-block w-100" alt="modo">
      </div>
      <div class="carousel-item">
        <img src="https://content-us-7.content-cms.com/8ba19f21-9a97-4525-8886-f54d823a5cea/dxresources/5323/532337ce-0a0b-4094-bc35-33b6b5c450a7.jpg" class="d-block w-100" alt="todas las cuentas">
      </div>
      <div class="carousel-item">
        <img src="https://content-us-7.content-cms.com/8ba19f21-9a97-4525-8886-f54d823a5cea/dxresources/5056/50562f2e-86e2-4481-9dc1-3041c1a8af48.jpg" class="d-block w-100" alt="viaja">
      </div>
      <div class="carousel-item">
        <img src="https://content-us-7.content-cms.com/8ba19f21-9a97-4525-8886-f54d823a5cea/dxresources/f4ab/f4ab1b22-e80e-46a8-96e7-06aecffe6b1c.jpg" class="d-block w-100" alt="seguinosIG">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>